<div class="text-center">
<h1><%=@answer%></h1>
</div>

<%# If the message is I am going to work, the coach will answer Great!
If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.
Otherwise the coach will answer I don't care, get dressed and go to work! %>
<div class= "text-center">
<button type="button" class="btn btn-primary"><%= link_to "Go back", question_path %></button>
</div>
